*.log
*.pot
*.pyc
customising/business_rules/*
customising/docs/*
customising/models.py
customising/urls.py
customising/views.py
customising/templates/*
env
.vscode
venv
aula/db.sqlite
.project
.pydevproject
.settings
static/*
aula/apps/demo/tmp/export*
demo/tmp
aula/settings_local.py
2tot.sh
.idea/*
.idea
aula/static
.env
.DS_Store