# Development
appy==0.8.4
django>=1.5.1,<1.7
#django-debug-toolbar
django_extensions
lxml
django-appypod
#python-dateutil>=2.1
six
django-debug-toolbar
#python-lxml
python-dateutil
django-tables2>=0.15
icalendar>=3.8.4
