wheel
openpyxl
# Development
git+https://github.com/lino-framework/appypod.git#egg=appy
Django<3.1
django-extensions
lxml
django-appypod
six
django-debug-toolbar
#python-lxml
python-dateutil
django-tables2
icalendar
django-appconf
Pillow
viivakoodi
XlsxWriter
typing
selenium
pisa
pycryptodome
xmltodict
django-private-storage
dnspython
django-simple-captcha
django-formtools
