# Development
appy==0.8.4
Django>=1.8.3,<1.9
#django-debug-toolbar
django_extensions
lxml
django-appypod
#python-dateutil>=2.1
six
django-debug-toolbar
#python-lxml
python-dateutil
django-tables2>=0.15
icalendar>=3.8.4
django-appconf
