# Variables de Configuració de la BBDD
DB_ENGINE=django.db.backends.postgresql
DB_PASSWORD=secret
DB_USER=secret
DB_NAME=secret
DB_HOST=db

# Variable per a l'accés extern a la Demo
# Per defecte no ha de tenir cap valor perquè se servirà per localhost:8000 o 127.0.0.1:8000
# Si cal accedir-hi des de l'exterior de la màquina cal afegir les IP i/o dominis i/o subdominis separats per comes
# ex: demo.elteudomini.cat,www.demo.elteudomini.cat,192.168.1.46
DEMO_ALLOWED_HOSTS=
