{% extends "table2.html" %}
{% load static %}
{% load detalls %}

{% block pretaula %}

    <div class="row">
          <div class="col-sm-2 col-xs-12">
              <img src="{{ alumne.get_foto_or_default }}"  height=200 >
          </div>
		  <div class="col-sm-8 col-xs-12">
	      <p class="well well-small">
      	  <span class="glyphicon glyphicon-user"> </span> {{ alumne }}<br />
          <span class="glyphicon glyphicon-calendar"> </span> {{ dia }} <br />
          <span class="glyphicon glyphicon-briefcase"> </span> {{ alumne.grup }}, Tutor(a): {{alumne.tutorsDeLAlumne_display}}<br />
          {% if mostra_detalls %}
                      <span class="glyphicon glyphicon-home"> </span> {{ alumne.adreca }} ( {{ alumne.cp }}
                          {% if alumne.municipi == alumne.localitat %}
                            {{ alumne.localitat }}
                            {% else %}
                                {% if alumne.municipi == '' %}
                                    {{ alumne.localitat }}
                                {% elif alumne.localitat == '' %}
                                    {{ alumne.municipi }}
                                {% else %}
                                    {{ alumne.localitat }}  -  {{ alumne.municipi }}
                                {% endif %}
                            {% endif %}
                          )<br />
                      <span class="glyphicon glyphicon-user"> </span> {{ alumne.rp1_nom }} ({{ alumne.rp1_correu }} , {{ alumne.rp1_telefon }} - {{ alumne.rp1_mobil }})<br />
                      {% if alumne.rp2_nom %}
                        <span class="glyphicon glyphicon-user"> </span> {{ alumne.rp2_nom }} ({{ alumne.rp2_correu }} , {{ alumne.rp2_telefon }} - {{ alumne.rp2_mobil }})<br />
                      {% endif %}
          {% endif %}
          {% if mostra_detalls or es_professor%}
            {% if alumne.observacions %}
                <span class="glyphicon glyphicon-info-sign"> </span> {{alumne.observacions}}
            {% endif %}
          {% endif %}


      	</p>
          </div>
    </div>
    
{% if documents %}
    Documents aportats: 
    <br>
	{% for f in documents %}
		<a href="{{ f.fitxer.url }}" target="_blank">{{ f.fitxer }}</a>
		<br>
	{% endfor %}
	<br>
{% endif %}

{% endblock %}

{% block posttaula %}

    <div class="row">
		  <div class="col-sm-8 col-xs-12">

            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li>
                    <a href="?data={{diaabans}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <li>
                    <a href="?data={{avui}}" aria-label="Previous">
                      <span aria-hidden="true">Avui</span>
                    </a>
                  </li>
                
                  <li>
                    <a href="?data={{lendema}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>

          </div>
    </div>

{% endblock %}