# This Python file uses the following encoding: utf-8
# Django settings for aula project.

from .settings_dir.common import *
from .settings import CUSTOM_PORTAL_FAMILIES_TUTORIAL

#En producción dejar en False
DEBUG = True

#Información del Centro
NOM_CENTRE = 'Centre de Demo'
LOCALITAT = u"Badia del Vallés"

#URL Por donde contestará la aplicación (Cambiar schema a https si se activa el tráfico TSL)
URL_DJANGO_AULA = r'http://elteudomini.cat'

#HOSTS que tendrán acceso a la Aplicación (solo es necesario el servidor y sus alias)
#Puedes colocar direcciones en formato CIDR o dominios, tambien se aceptan Wildcards
ALLOWED_HOSTS = [ 'elteudomini.cat', '127.0.0.1', ]

ACCES_RESTRINGIT_A_GRUPS = None # ó be = ['direcció','administradors']  durante las pruebas

#Datos del usuario administrador
ADMINS = (
    ('admin', 'ui@mega.cracs.cat'),
)

#Configuracion del Correo Relay SMTP y IMAP de la Aplicación
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_IMAP="imap.gmail.com"
EMAIL_HOST_USER='el-meu-centre@el-meu-centre.net'
EMAIL_HOST_PASSWORD='xxxx xxxx xxxx xxxx'
DEFAULT_FROM_EMAIL = 'El meu centre <no-reply@el-meu-centre.net>'
EMAIL_PORT=587
EMAIL_USE_TLS=True
SERVER_EMAIL='el-meu-centre@el-meu-centre.net'

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# Per proves, envia a la consola
#EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend' 

EMAIL_SUBJECT_PREFIX = '[DEMO AULA] '

#True si se activa el HTTPS
SESSION_COOKIE_SECURE=False

SESSION_EXPIRE_AT_BROWSER_CLOSE = True
CSRF_COOKIE_SECURE=False  #True si se activa el HTTPS

#Si se utiliza un árbol de predicción se define aquí:
location = lambda x: os.path.join(PROJECT_DIR, x)
BI_DIR = location('path_hasta_el_modelo')
__PREDICTION_TREE_TMP = os.path.join( BI_DIR, 'previsioPresencia.pmml' )
from lxml import etree
#PREDICTION_TREE = etree.parse( __PREDICTION_TREE_TMP )
PREDICTION_TREE = None

#Ruta donde almacenará los assets de la aplicación
STATICFILES_DIRS =  STATICFILES_DIRS
STATIC_ROOT= os.path.join(PROJECT_DIR,'static/')

#Comprime los assets estáticos de la app, False por defecto
COMPRESS_ENABLED = False

#Passphrase que usara la app para cifrar las credenciales
# python manage.py generate_secret_key
SECRET_KEY = 'changeit ---u&qj0e$ig=&4-b%l23$!ba1gysai5z!aw*5%p_$35)2e9-*@r'

CUSTOM_RESERVES_API_KEY = 'sxxxxxxm'

#Componente que utilizará Django para serializar los objetos
SESSION_SERIALIZER='django.contrib.sessions.serializers.PickleSerializer'

PRIVATE_STORAGE_ROOT ='/dades/fitxers_privats_djAu/'
CUSTOM_CODI_COMERÇ = 'xxxxxx'
CUSTOM_KEY_COMERÇ = 'xxxxxx'

#Configuración de la Base de datos
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': location( 'db.sqlite'),
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
        'ATOMIC_REQUESTS': True,
    }
}

# TermesICondicions (copiar els samples amb un altre nom i apuntar als nous fitxers)
DADES_FISCALS_FILE = location( r'../customising/TermesIcondicions/DADESFISCALS.sample' )
POLITICA_VENDA_FILE = location( r'../customising/TermesIcondicions/POLITICAVENDA.sample' )
#Fitxer de text amb les condicions de matrícula, es poden fer servir marques HTML.
CUSTOM_MODUL_MATRICULA_ACTIU = True
CONDICIONS_MATRICULA = location( r'../customising/TermesIcondicions/MATRICULA.sample' )

# S'ha de considerar si és volen fer servir els següents fitxers
#Fitxer de text amb l'avís sobre el tractament de dades personals, es poden fer servir marques HTML.
#Es mostra a la part inferior de les pantalles d'entrada de dades com la de "Canvi de paràmetres".
#INFORGPD = location( r'../customising/TermesIcondicions/INFORGPD.sample' )
#Els següents fitxers es fan servir en les condicions dels pagaments online
#Política de cookies.
#POLITICA_COOKIES = location( r'../customising/TermesIcondicions/POLITICACOOKIES.sample' )
#Informació sobre protecció de dades de caràcter personal.
#POLITICA_RGPD = location( r'../customising/TermesIcondicions/POLITICARGPD.sample' )

CUSTOM_MESSAGE_BENVINGUDA_FAMILIES = [ u"Aquest missatge ha estat enviat per un sistema automàtic. No responguis a aquest correu, el missatge no serà llegit per ningú.",
                     u"",
                     u"Benvolgut/da,",
                     u"",
                     u"És molt important que et donis d’alta de l’aplicació DjAu per tal que hi hagi una comunicació fluida entre el centre i les famílies.",
                     u"",
                     u"L’aplicació DjAu et permetrà fer un seguiment diari del teu fill/a. Hi trobaràs dades d'assistència, de disciplina, i observacions del professorat. També tindràs accés a informació i pagament d’activitats i sortides.",
                     u"",
                     u"Segueix les instruccions per a donar-te d'alta al DjAu:",
                     u"",
                     u" 1.- Entra a {0}".format(URL_DJANGO_AULA),
                     u" 2.- Clica l'enllaç 'Obtenir o recuperar accés'. ",
                     u" 3.- Escriu l’adreça de correu electrònic on has rebut aquest correu. ",
                     u" 4.- Clica el botó Enviar.",
                     u" 5.- Consulta el correu electrònic on hi trobaràs el teu nom d’usuari i un missatge amb les instruccions per completar el procés d'accés al Djau.",
                     u"",
                     u"Per qualsevol dubte/notificació posa't en contacte amb el tutor/a.",
                     u"",
                     u"Cordialment,",
                     u"",
                     NOM_CENTRE,
                     u"",
                     u"{0}".format( CUSTOM_PORTAL_FAMILIES_TUTORIAL ),
                     ]

