{% extends "formset.html" %}

{% block extrahead %}
    <style type="text/css">
      .row-padded {
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid #e3e3e3;
      }
      .btn.btnPresent.active,
      .btn.btnPresent:active {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background-color: #51a351;
      }
      .btn.btnFalta.active,
      .btn.btnFalta:active {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background-color: #bd362f;
      }
      .btn.btnJustificada.active,
      .btn.btnJustificada:active {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background-color: #2f96b4;
      }
      .btn.btnRetard.active,
      .btn.btnRetard:active {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background-color: #f89406;
      }
    </style>
    
    <script type="text/javascript">
      // Desactiva tots els botons i esborra els valors dels camps hiddens
      function totnet() {
        $(":button").removeClass("active");
        //$(":hidden").attr("value", "");
        $(":hidden").each(function() {
          if($(this).hasClass('presenciaEstat')) {
            $(this).attr("value", "");
          }
        });
      }

      // Canviar el valor del camp hidden corresponent al boto activat
      function actualitzarHidden(boto) {
        id_modif = boto.attr("id_modif");
        value = boto.attr("value");
        hidden = $("#"+id_modif);
        hidden.attr("value", value);
      }

      $(document).ready(
      function($){
          /* Posar tot a ... */
          $("#totpresent").click(function(){
            totnet();
            $(":button").each(function () {
              if($(this).hasClass('btnPresent')) {
                $(this).addClass('active');
                actualitzarHidden($(this));
              }
            });
            return false;
          });
          
          $("#totfalta").click(function(){
            totnet();
            $(":button").each(function () {
              if($(this).hasClass('btnFalta')) {
                $(this).addClass('active');
                actualitzarHidden($(this));
              }
            });
            return false;
          });
          
          $("#horaAnterior").click(function(){
				    totnet();
				    {% for f in formset %}
				      {% if f.hora_anterior == 0  %}
					      $('#id_{{f.prefix}}-estat_0').addClass('active');
                          actualitzarHidden($('#id_{{f.prefix}}-estat_0'));
				      {% endif %}
				      {% if f.hora_anterior == 1  %}
					      $('#id_{{f.prefix}}-estat_1').addClass('active');
                          actualitzarHidden($('#id_{{f.prefix}}-estat_1'));
				      {% endif %}
				    {% endfor %}
				    return false;
          });
          
			    $("#feelLucky").click(function(){
				    totnet();
				    {% for f in formset %}
				      {% if f.prediccio == 0 %}
					      $('#id_{{f.prefix}}-estat_0').addClass('active');
                          actualitzarHidden($('#id_{{f.prefix}}-estat_0'));
				      {% endif %}
				      {% if f.prediccio == 1 %}
					      $('#id_{{f.prefix}}-estat_1').addClass('active');
                          actualitzarHidden($('#id_{{f.prefix}}-estat_1'));
				      {% endif %}
				    {% endfor %}
				    return false;
          });
          
          // Desar dades del boto clicat al camp hidden corrresponent
          $("button").click(function() {
            if ($(this).attr("id_modif")) {
              actualitzarHidden($(this));
            }
          });
        });
    </script>

{% endblock %}


{% block preform  %}



	{% if formset %}
		<div class="row">
			
	      <div class="span4 visible-phone">
	      	<div class="btn-group">
                <button class="btn btn-primary">Opcions</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ><span class="caret"> </span></button>
                <ul class="dropdown-menu">
                  <li><a href="/presencia/treuAlumnesLlista/{{id_impartir}}" >Treure alumnes</a></li>
                  <li><a href="/presencia/afegeixAlumnesLlista/{{id_impartir}}" >Afegir alumnes</a></li>
                  <li><a href="/incidencies/posaIncidenciaAula/{{id_impartir}}" >Incidències</a></li>
                  <li><a href="/baixes/feina/{{id_impartir}}" >Feina a Realitzar
                  	                              {% if impartir.feina.feina_a_fer %}<span style="color:red;font-weight:bold;">!</span>{% endif %} 
                  	                              </a></li>
                  
                </ul>
              </div>
          </div>    
          			
		  <div class="span8">
	      <p class="well well-small">
      	  <span class="icon-user"> </span> {{ info.professor }}<br />
          <span class="icon-calendar"> </span> {{ info.dia_setmana }} {{ info.dia_complet }}<br />
          <span class="icon-time"> </span> {{ info.hora }}<br />
          <span class="icon-briefcase"> </span> {{ info.assignatura }}<br />
          <span class="icon-home"> </span> {{ info.nom_aula }}<br />
          <span class="icon-list"> </span> {{ info.grup }}<br />
		  </p>
    	  </div>
    	  
    	  <div class="span4 hidden-phone">
			  <p><a href="/presencia/treuAlumnesLlista/{{id_impartir}}">Treure alumnes de la llista</a></p>
			  <p><a href="/presencia/afegeixAlumnesLlista/{{id_impartir}}">Afegir alumnes a la llista</a></p>
			  <p><a href="/incidencies/posaIncidenciaAula/{{id_impartir}}">Incidències</a></p>
			  <p><a href="/baixes/feina/{{id_impartir}}" > 
			    Feina a Realitzar 
			    {% if impartir.feina.feina_a_fer %}<span style="color:red;font-weight:bold;">!</span>{% endif %} 
			  </a></p>
			  <p><a href="{{ horariUrl }}" > Horari</a></p>			  
    	  </div>
      	  
  	    </div>
    	
	  	<div class="row row-padded">
	  		
	      <div class="span4 offset4">
	      	<div class="btn-group">
                <button class="btn btn-primary" id="feelLucky">Tindrè sort!</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ><span class="caret"> </span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" id="totfalta">Tot Falta</a></li>
                  <li><a href="#" id="horaAnterior">Hora Anterior</a></li>
                  <li><a href="#" id="totpresent">Tot present</a></li>
                </ul>
              </div>
            </div>      
            
    	</div>
              
    	
	{% else %}

	  <p>
			<a href="/presencia/afegeixAlumnesLlista/{{id_impartir}}">Afegir alumnes a la llista</a>
		</p>
			
		{% if pot_marcar_sense_alumnes %}
			<p>
			  <a href="/presencia/marcarComHoraSenseAlumnes/{{id_impartir}}">En aquesta hora no tinc alumnes! </a>
			</p>
		{% endif %}
   
  {% endif %}
  
{% endblock %}


{% block postform  %}

{% endblock %}


