{% extends "base.html" %}

{% block head %}
  {{ head }}
{% endblock %}

 
{% block content  %}

   	Càrrega Inicial
	<ol> 
	 <li>Si es fa servir Kronowin:
	 <ol>
	 <li><a href="/admin/horaris/diadelasetmana/">Comprova dies de la Setmana (cal haver importat des de fixtures)</a></li>
	 <li><a href="/admin/horaris/franjahoraria/">Comprova i adapta franges horàries (cal haver importat des de fixtures)</a></li>
	 <li><a href="/admin/assignatures/tipusdassignatura/">Comprova tipus d'assignatura (cal haver importat des de fixtures)</a></li>
	 <li><a href="/admin/horaris/festiu/">Comprova i adapta calendari de festius (pots importar exemple des de fixtures)</a></li>
	 <li><a href="/admin/extKronowin/parametrekronowin/">Comprova i adapta paràmetres Kronowin (pots importar exemple des de fixtures)</a></li>
	 <li>Crea nivells, cursos i grups des de kronowin
	 	<ol>
		 <li><a href="{% url 'administracio__configuracio__crea_grups_des_de_kronowin' %}">Crea nivells, cursos i grups des de Kronowin</a></li>
		</ol>
	 </li> 	 
	 <li> ó crea'ls a mà:
	 	<ol>
		 <li><a href="/admin/alumnes/nivell/">Crea Nivells i Cursos (o per codi)</a></li>
		 <li><a href="/admin/alumnes/grup/">Crea a mà els grups (o per codi)</a></li>
		</ol>
	 </li>	 
	 <li><a href="/extKronowin/sincronitzaKronowin">Kronowin: Importa professors i franges (Fitxer Soluc.txt generat des d'Access) -> Et surtirà error perquè no sap associar grups, és correcte, fes els tres punts següents.</a></li>
	 <li><a href="/extKronowin/assignaGrups">Cassa grups Kronowin</a></li>
	 <li><a href="/extKronowin/assignaFranges">Cassa franges Kronowin</a></li>
	 <li><a href="/extKronowin/sincronitzaKronowin">Kronowin: Importa horaris (Fitxer Soluc.txt generat des d'Access) -> Aquí ja no ha de donar errors</a></li>
	 <li><a href="/admin/assignatures/assignatura/">Assigna tipus d'assignatura (opcional i recomenat, es pot fer de cop, mira el quadre de sota)</a></li>
	 <li><a href="/aules/assignaComentaris/">Assigna comentaris a les aules</a></li>
     </ol>
     </li>

	 <li>Si es fa servir Untis:
	 <ol>
	 <li><a href="/extUntis/sincronitzaUntis">Untis: Importa fitxer xml</a></li>
	 <li><a href="/admin/horaris/franjahoraria/">Opcional. Afegeix altres franges horàries (Per exemple patis o pausa migdia)</a></li>
	 <li><a href="/admin/horaris/festiu/">Opcional. Comprova i adapta calendari de festius (No fa falta si s'han definit a Untis)</a></li>
	 <li><a href="/admin/extUntis/agrupament">Crea agrupaments (Només en casos especials, veure manual)</a></li>
     </ol>
     </li>
	 <li><a href="/admin/alumnes/curs/">Recorda comprovar la data d'inici i fi de cada curs (Potser 2nBTX han d'acabar abans ...)</a></li>
	 <li><a href="{% url 'administracio__sincronitza__saga' %}">Importa alumnes SAGA --> Et donarà error si hi ha grups al Saga que no sap mapejar-los al programa</a></li>
	 <li><a href="{% url 'administracio__configuracio__assigna_grups_saga' %}">Assigna els grups del Saga al programa</a></li>
	 <li><a href="{% url 'administracio__sincronitza__saga' %}">Importa alumnes SAGA (Ara no haurien de sortir errors)</a></li>
     <li><a href="{% url 'administracio__sincronitza__esfera' %}">Importa alumnes Esfer@ --> Et donarà error si hi ha grups a Esfer@ que no sap mapejar-los al programa</a></li>
	 <li><a href="{% url 'administracio__configuracio__assigna_grups_esfera' %}">Assigna els grups de Esfer@ al programa</a></li>
	 <li><a href="{% url 'administracio__sincronitza__esfera' %}">Importa alumnes Esfer@ (Ara no haurien de sortir errors)</a></li>
	 <li><a href="/admin/presencia/estatcontrolassistencia/">Comprova estats control assistència (cal haver importat des de fixtures)</a></li>
	 <li><a href="/admin/incidencies/tipusincidencia/">Comprova i adapta tipus d'incidències a l'aula (pots importar exemple des de fixtures)</a></li>
	 <li><a href="/admin/incidencies/tipussancio/">Comprova i adapta tipus de sancions (pots importar exemple des de fixtures)</a></li>
	 <li><a href="/admin/auth/user/">Posa dins el grup 'direcció' els usuaris que han de tenir accés a les tasques de direcció (marca'ls com 'es staff')</a></li> <li><a href="/alumnes/assignaTutors/">Informar dels tutors dels grups (opcional i recomenat)</a></li>
	 <li><a href="/admin/auth/user/">Recorda crear els usuaris del grup consergeria.</a></li>
	 <li><a href="/admin/auth/user/">Posa al grup 'administradors' els usuaris que han de rebre els missatges de seguretat enviats per la resta d'usuaris.</a></li>
     <li><a href="/admin/alumnes/nivell/">Crea l'ordre en que han d'aparèixer els nivells ( ESO = 0, BTX=1, ... )</a></li>
     <li><a href="/admin/usuaris/departament/">Sortides i activitats: crea els departaments que les organitzen</a></li>
	 <li><a href="/presencia/regeneraImpartir">Reprograma classes segons horari actual (el procés triga, tindràs un missatge quan acabi)</a></li>

	</ol>
	
	<div style="border: 1px solid; padding: 10px">
	
	<pre>

EXEMPLES DE CANVIAR DE COP ELS TIPUS D'ASSIGNATURA:(només per Kronowin)

(Processos des de la shell: python manage.py shell)

* Passar a UF totes les assignatures de Cicles Formatius

from aula.apps.alumnes.models import Nivell
from aula.apps.assignatures.models import TipusDAssignatura
from aula.apps.assignatures.models import Assignatura
uf = TipusDAssignatura.objects.get( tipus_assignatura__startswith = 'Unitat' )
for n  in Nivell.objects.filter( nom_nivell__contains = 'CF'  ):
   print 'Canviant nivell' + unicode(n)
   for a in Assignatura.objects.filter( curs__in = n.curs_set.all()):
      print 'canviant assignatura' + unicode(a)
      a.tipus_assignatura = uf	
      a.save()


* Passar a opcional totes les assignatures Opcionals (comencen per OP o OE)

from aula.apps.alumnes.models import Nivell
from aula.apps.assignatures.models import TipusDAssignatura
from aula.apps.assignatures.models import Assignatura
from django.db.models import Q
op = TipusDAssignatura.objects.get( tipus_assignatura__startswith = 'Opcional' )
for n  in Nivell.objects.exclude( nom_nivell__contains = 'CF'  ):
   es_opcional_op = Q(codi_assignatura__startswith = 'OP')
   es_opcional_oe = Q(codi_assignatura__startswith = 'OE')
   es_opcional_ao = Q(codi_assignatura__startswith = 'AO')
   es_del_curs = Q(curs__in = n.curs_set.all())
   for a in Assignatura.objects.filter( es_del_curs & (es_opcional_op | es_opcional_oe| es_opcional_ao) ):
      a.tipus_assignatura = op	
      a.save()

* Correus de tots els professors de cicles:

for p in P.objects.filter( horari__grup__curs__nivell__nom_nivell__contains = 'CF').distinct():
    print p.email,','

* Aula oberta a les assignatures d'aula oberta

from aula.apps.assignatures.models import TipusDAssignatura, Assignatura

for instance in Assignatura.objects.all():
   if  instance.curs is not None and instance.curs.nom_curs == 'ACO/UEC':
      ao = TipusDAssignatura.objects.get( tipus_assignatura__startswith = 'Aula Oberta' )
      instance.tipus_assignatura = ao
      print 'canviat: ' , unicode( instance ), ' to ', unicode(ao)	
	</pre>
	</div>
	
	
	
{% endblock %}	
