<small>L'informem que el responsable del tractament de les seves dades personals és l’Institut .............., i que seran tractades per gestionar el procés de matriculació. Pot exercir els drets d'accés, rectificació, supressió, portabilitat, limitació i oposició enviant un correu a ..........@ddddddd.ddd.<br>Pot ampliar aquesta informació a les <a href="/matricula/condicions" target="_blank">condicions generals</a> de matrícula d'aquesta mateixa aplicació.</small>
