<h3><b>Autoritzo i accepto</b></h3>
a) Que l’Institut xxxxxxxxxxx de ccccc, pugui crear i mantenir un compte de G Suite per Centres Educatius pel meu fill/a menor d’edat o per a mi com a estudiant major d’edat i que Google demani, utilitzi i divulgui informació sobre aquest només amb els propòsits descrits al següent document: <a href="/site-css/Condicions GSuite.pdf">Condicions de G Suite</a>
b) Que el meu fill/a utilitzi o jo com a estudiant major d'edat pugui fer servir, per al treball acadèmic, els següents serveis telemàtics que requereixen usuari i contrasenya:
Moodle del centre
Djau
G Suite per a centres educatius
Llibres digitals
c) Que la imatge/veu del meu fill/a o la meva com estudiant major d'edat, pugui sortir en fotografies o vídeos corresponents a activitats escolars lectives, complementàries i extraescolars organitzades pel centre i publicades en:
En webs del centre: Moodle i web del centre.
En el domini del centre, xxxxxxxx.cat, de G Suite per a centres educatius
Revistes o publicacions editades pel centre d’àmbit educatiu.
d) Que el material que elabori el meu fill/a o el realitzat com a estudiant major d'edat, pugui ser publicat en els espais de comunicació (blogs i espais web i revistes) del mateix centre amb la finalitat de desenvolupar l’activitat educativa i, per aquests casos, que en els webs o blogs i revistes editades pel centre hi constin les inicials de l'estudiant i les del centre.
e) Que les meves dades de contacte siguin proporcionades a l'AMPA de l'Institut (Associació de Mares i Pares d'alumnes), perquè em puguin informar de les activitats i accions que organitzen.
f) Que el meu fill/a o jo mateix com a estudiant major d'edat, pugui assistir a les sortides que estableixi el centre fora de l’institut al llarg de tot el curs amb el professorat responsable, accepto les condicions que estableixi el centre per a les sortides i respectar les NOFC.
g) Que he llegit la carta de compromís educatiu:
<a href="https://drive.google.com/file/d/......................./view">Carta famílies</a>
<a href="https://drive.google.com/file/d/......................./view">Carta alumnes majors d'edat</a>

<u>Informació sobre protecció de dades</u>
La responsabilitat de la utilització dels recursos que el centre posa a la seva disposició en l’àmbit escolar correspon al centre educatiu. Tot i això, el centre no es fa responsable de l’ús indegut dels recursos i dels continguts per part dels usuaris. L’usuari serà l’únic responsable de les infraccions en què pugui incórrer o dels perjudicis que pugui causar per un ús inadequat dels serveis o dels continguts.
El centre disposa d’espais de comunicació i difusió, inclosos els espais web, on informa i fa difusió de les activitats escolars lectives, complementàries i extraescolars. En aquests espais es poden publicar imatges/veu en què apareguin, individualment o en grup, alumnes que fan les activitats esmentades. El dret a la pròpia imatge és reconegut en l’article 18.1 de la Constitució espanyola i està regulat per la Llei orgànica 1/1982, de 5 de maig, sobre el dret a l’honor, a la intimitat personal i familiar i a la pròpia imatge, per la qual cosa la direcció d’aquest centre demana el consentiment, mitjançant l’acceptació expressa de les presents condicions de matrícula, als pares, mares, tutors legals o estudiants majors d'edat per publicar fotografies i vídeos on surtin els estudiants a on siguin clarament identificables.

L’informem que el responsable del tractament de les seves dades és l’INSTITUT xxxxxxxxxxx, amb NIF @1234567@.
Les nostres dades de contacte són:
C/ ...................
NNNNN xxxxxxxxxxxxx
Telèfon 999999999999
Dades de contacte del nostre DPD : dpd.educacio@gencat.cat
Les seves dades personals i les del seu representat seran tractades amb la finalitat de gestionar el procés de matriculació així com gestionar el sistema d’accessos i assignació de credencials als serveis i recursos digitals utilitzats en l’àmbit acadèmic pel nostre Centre.
INSTITUT xxxxxxxxxxx tracta amb dades de caràcter identificatiu, incloent-hi la imatge.
El termini de conservació vindrà determinat per la finalitat de tractament per la que es van sol·licitar les dades, excepte que la Llei disposi un termini de conservació diferent o s’hagin de conservar per a fer front a possibles reclamacions. En aquests casos, les dades es conservaran degudament bloquejades per assegurar la seva confidencialitat i integritat.
La base jurídica o legitimació per al tractament de les seves dades o les del seu representat, és el seu consentiment exprés exercit mitjançant la seva sol·licitud de matriculació. El fet de no facilitar-nos les dades requerides comportarà que el nostre Centre no pugui atendre les seves sol·licituds, i per aquest motiu quedar exonerat de cap mena de responsabilitat per la no prestació dels serveis sol·licitats. Vostè és l’únic responsable de la veracitat i exactitud de les dades que ens faciliti. La informació ha de ser actual i sense errors. L’estudiant i la seva família assumirà tota la responsabilitat per la manca de veracitat de les dades facilitades.
Les seves dades no es comunicaran a tercers excepte en aquells casos en què així ho estableixi la Llei, o s’hagi de fer de manera auxiliar per a la realització de la finalitat informada, com podria ser el cas de la seva comunicació al Departament d’Educació de la Generalitat de Catalunya, o la utilització de G Suite per a centres educatius per part de pares, tutors i estudiants.
En aquells casos en els quals s'efectuï el pagament de manera telemàtica, INSTITUT xxxxxxxxxxx no té cap mena d’accés a les seves dades bancàries o de la seva targeta , ja que la nostra aplicació únicament facilita un accés a una passarel·la de pagament de l’entitat bancària.
Drets: podrà exercir, d’acord amb la normativa de Protecció de Dades, els drets d’accés, rectificació, cancel·lació i oposició de les seves dades personals, dirigint un escrit a l'Institut xxxxxxxxxxx amb domicili social a C/ ................ NNNNN xxxxxxxxx (PPPPPPP) aportant fotocòpia del DNI o documentació alternativa que acrediti la seva identitat.
Informació addicional:
Podeu consultar la informació addicional i detallada sobre protecció de dades a la pàgina <a href="http://ensenyament.gencat.cat/ca/departament/proteccio-dades/informacio-addicional-tractaments/alumnes-centres-departament.html">http://ensenyament.gencat.cat/ca/departament/proteccio-dades/informacio-addicional-tractaments/alumnes-centres-departament.html</a>

<b>Declaro</b> que estic assabentat/ada de la utilització, per al treball acadèmic, dels serveis telemàtics indicats anteriorment. He llegit les condicions i la informació bàsica sobre protecció de dades i autoritzo el tractament de les dades personals de l'estudiant.
<br><br>
