D'acord amb el que estableix el Reglament (UE) 2016/679, i l'article 11 de la llei Orgànica 3/2018 de 5 de desembre, de protecció de dades personals i garantia dels drets digitals, a continuació l'informem dels aspectes bàsics relatius al tractament de les seves dades personals. Pot ampliar aquestes informacions consultant les nostres condicions de matrícula.

El responsable del tractament de les seves dades personals és l'INSTITUT XXXXXXX, i seran tractades amb la finalitat de gestionar el pagament online de les quotes, sortides i esdeveniments en el nostre Centre educatiu.

INSTITUT XXXXXXXX no comunicarà les seves dades a tercers, excepte de manera auxiliar o perquè així ho estableixi la Llei, com en el cas de la seva comunicació al Departament d'Educació de la Generalitat de Catalunya. El nostre Centre li ofereix la possibilitat de pagar online les quotes, sortides i esdeveniments, mitjançant la utilització d'una passarel·la de pagament. INSTITUT XXXXXXXX no té accés en cap moment a les seves dades bancàries o de les seves targetes (vegeu política de vendes/devolucions i condicions de matrícula). Pot exercir els seus drets d'accés, rectificació, cancel·lació i oposició de les seves dades personals, dirigint un escrit a l'Institut XXXXXXXXXX amb domicili social a ................................., adjuntant còpia del seu DNI.
