La família (en endavant l'USUARI) de l'alumne/a matriculat que participa (o no) en una sortida/esdeveniment, actua en nom propi. Per qualsevol canvi o anul·lació l'USUARI ha de contactar directament amb el tutor/a de l'alumne/a.
L'Institut xxxxxxxxxxxxxxxx estableix el preu i les característiques de les quotes, sortides i esdeveniments.

Les dades bancàries, com el número de targeta i claus relacionades, en cap cas són processades o registrades per l'Institut xxxxxxxxxxxxx. Aquestes dades són subministrades directament per l'USUARI a l'entitat bancària que realitza el tràmit de cobrament mitjançant el Terminal de Punt de Venda Virtual.
L'USUARI és l'únic responsable de custodiar diligentment les dades de les seves targetes bancàries.

El pagament únicament es considerarà realitzat, acceptat i confirmat mitjançant la resposta de la plataforma bancària.
L'Institut xxxxxxxxxxx no es fa responsable de qualsevol comissió, càrrec o cost que l'entitat emissora de la targeta li imposi per la utilització del servei.

Aquest acord comercial està regit pel dret espanyol. L'USUARI accepta expressament que la resolució de qualsevol qüestió, divergència, conflicte o problema que sorgeixi amb motiu o com a conseqüència de la interpretació, aplicació i compliment de la present política, amb renúncia expressa a qualsevol altre fur aplicable, i sense perjudici de la competència que en resulti per ministeri de la llei, se sotmet voluntàriament i d’una manera expressa als Jutjats i Tribunals de la ciutat de xxxxxxxxxx.

Cancel·lacions i devolucions: 
No es realitzen devolucions.
Qualsevol reclamació sobre devolucions ha de dirigir-se a l'Institut xxxxxxxxxxx. L'Institut decidirà en funció del tipus de sortida/esdeveniment i es retornarà l'import sempre que sigui possible.
