# docker/docker-compose.demo.automatica.yml
services:
  db:
    image: postgres:16
    container_name: demo_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  web:
    image: django_aula:latest
    container_name: demo_web
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DEMO_ALLOWED_HOSTS=${DEMO_ALLOWED_HOSTS}
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - media_data:/app/storage
    command: docker/carrega_inicial.sh

volumes:
  pg_data:
  media_data:
  
