<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Error a l'aplicació</title>
</head>
<body>
    <h1>Error a l'aplicació</h1>

    <p>Sí, és lamentable ... però l'aplicatiu ha fallat.</p>

    <p class="text-center"><img src="{{STATIC_URL}}error500.png" width="154" heigh="64"></p>


    <p>El picador del codi rebrà un correu, no cal que feu res. Proveu més tard si us funciona l'aplicació.</p>
    <a href="Pantalla inici"></a>
</body>
</html>
