<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>Inst Cendrassos | {% block title %}{% endblock %}</title>

<link href="/site-css/warnings.css" rel="stylesheet" type="text/css" />
<link href="/site-css/estil.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/site-css/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/site-css/js/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="/site-css/js/jquery.qtip-1.0.0-rc3.min.js"></script>

{% block extrahead %} {% endblock %}

</head>

<body {%if l4%}style="background-color:#FF0000;"{%endif%}>

{% block content %}

{% endblock %}
</body>
</html>