{% load customTemplateTags %}

<div id="header"> 
   	
  <header class="navbar navbar-fixed-top navbar-inverse"> 

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      </button>
	      <a href="/" class="navbar-brand">django-aula</a>
	    </div>         
      
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        {% for item in menu.items %}
	      <li  class="{{item.active}}" >
		      <a href="{{item.url}}">{{item.label}} {% if item.alerta %}!{%endif%} </a> 
	      </li> 
		{% endfor %}
		</ul>
	      
		<ul class="nav navbar-nav pull-right">
        {% if user.is_authenticated %}
            <li class="dropdown">    	
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{menu.nomusuari}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
	              {%if not menu.esalumne %}<li><a href="/usuaris/canviDadesUsuari/">El meu nom i correu.</a></li>{% endif %}
	              <li><a href="{% url 'usuari__dades__canvi_passwd' %}">Canvi de paraula de pas (password)</a></li>
                <li class="divider"></li>
                {% if sessioImpersonada %}
             		  <li><a tabindex="-1" href="/usuaris/impersonacio/">Impersonació / Level4</a></li>
             		  <li><a tabindex="-1" href="/usuaris/resetImpersonacio/">Sortir mode impersonalitzat</a></li>
	                <li class="divider"></li>
       		        <li><a tabindex="-1" href="/logout/">Sortir del programa</a></li>
       		      {% else %}
		              {% ifusergroup direcció %}
         		        <li><a href="/usuaris/impersonacio/">Impersonació / Level4</a></li>
	                  <li class="divider"></li>
		                <li><a href="/logout/">Sortir del programa</a></li>
		              {% else %}
		               <li><a href="/logout/">Sortir</a></li>
		              {% endifusergroup %}
	              {% endif %}    
              </ul>
            </li>
          {% else %}
	        <li><a tabindex="-1" href="/">Login</a></li>	      
          {% endif %}
        </ul>	
	      
	      
      </div> <!-- /.nav-collapse -->	  
  </header><!-- /.navbar -->
 
 
  {% if menu.subitems %}
  <ul class="nav nav-tabs" id="submenu">
    {% for item in menu.subitems %}
        {% if item.subsubitems %}
        <li class="dropdown {{item.active}}" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.label}} {% if item.medalla %}<span class="label label-{{item.medalla.tipus}}">{{ item.medalla.valor }}</span>{% endif %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for subsubitem in item.subsubitems %}
            <li><a href="{{subsubitem.url}}" >{{subsubitem.label}} {% if subsubitem.medalla %}<span class="label label-{{item.medalla.tipus}}">{{ subsubitem.medalla.valor }}</span>{% endif %}</a></li>
          {% endfor %}
          </ul>          	
        </li>
		{% else %}
		<li  class="{{item.active}}" >
		  <a href="{{item.url}}">{{item.label}} {% if item.medalla %}<span class="label label-{{item.medalla.tipus}}">{{ item.medalla.valor }}</span>{% endif %}</a> 
		</li> 
		{% endif %}
	{% endfor %}   		
  </ul>
  <br />
  {% endif %}




</div>	
