{% extends "base.html" %}


{% block extrahead %}
<script type="text/javascript">
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>
   {% block extraheadreporttab  %}{% endblock %}
{% endblock %}

{% block head %}
  {{ head }}
{% endblock %}
 
{% block content  %}
	{% block prereport  %}{% endblock %}
	
	<ul class="nav nav-tabs" id="reportTabs">
	  {% for taula in report %}
	  <li class="{% if forloop.first %}  active{% endif %}" ><a href="#tabs{{taula.codi}}" data-toggle="tab">{{taula.tabTitle}}</a></li>
	  {% endfor %}
	</ul>

	<div class="tab-content">
		
	{% for taula in report %}
	
	  <div class="tab-pane {% if forloop.first %}  active{% endif %}"  id="tabs{{taula.codi}}">
	  	
	  <div id="div_{{taula.codi}}"></div>	
	  	
	  	
	  {% if taula.titol.enllac %}<a href="{{ taula.titol.enllac }}">{%endif%}
	  {{ taula.titol.contingut }}
	  {% if taula.titol.enllac %}</a>{%endif%}
	  {% if taula.titol.codi %}<a name="{{taula.titol.codi}}"> </a>{% endif %}	
	  <table class="table table-striped" style="margin-top: 20px;" >
	
		  <tr>
		  {% for capcelera in taula.capceleres %}
		    <th width="{{ capcelera.amplade }}%">
      		   {% if capcelera.enllac %}<a href="{{capcelera.enllac}}">{%endif%}
			    {{capcelera.contingut}}
      		   {% if capcelera.enllac %}</a>{%endif%}
		    </th>
    	{% endfor %}
    	</tr>
    	
    	{% for filera in taula.fileres %}
        <tr>
      	  {% for camp in filera %}
            <td>
             {% if camp.codi %}<a name="{{camp.codi}}"> </a>{% endif %}
             
             {% if camp.modal %}
             	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{camp.modal.id}}">
				  {{camp.modal.txtboto}}
				</button>
				<div class="modal fade" id="{{camp.modal.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{{camp.modal.tittle}}</h4>
				      </div>
				      <div class="modal-body">
				        {{camp.modal.body | linebreaks}}
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" data-dismiss="modal">Tancar</button>
				      </div>
				    </div>
				  </div>
				</div>
             {% else %}
	            {% if camp.enllac %}<a href="{{camp.enllac}}">{%endif%}
	            	
	            {% if camp.negreta %}<strong>{%endif%}
	            	
	            {{camp.contingut|linebreaksbr}}
	            
	            {% if camp.negreta %}</strong>{%endif%}
	            
	            
	            {% if camp.enllac %}</a>{%endif%}
             {% endif %}
             
             {% if camp.multipleContingut %}
                {% if camp.esMenu %} 
                  <div class="btn-group">
                    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                      Accions
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% for dada,enllac in camp.multipleContingut %}
                      <li>
                        {% if enllac %}<a href="{{enllac}}">{%endif%}
                        {{dada}}<br/>
                        {% if enllac %}</a>{%endif%}
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                {%else%}
                    <ul>
                    {% for dada,enllac in camp.multipleContingut %}
                      <li>
                        {% if enllac %}<a href="{{enllac}}">{%endif%}
                        {{dada}}<br/>
                        {% if enllac %}</a>{%endif%}
                      </li>
                    {% endfor %}
                    </ul>                
                {%endif%}
             {% endif %}
            </td>
          {% endfor %}
        </tr>
    	{%endfor%}

	  </table> 	
	</div>			
	{%endfor%}

	{% if pg_query %}
    <div class="pagination">
      <ul>            
      {% if pg_query.has_previous %}
        <li>
          <a href="{{ url_pg_report }}"><< Inici</a>          
        </li>
      {% endif %}
      {% if pg_query.has_previous %}
        <li>
          <a href="{{ url_pg_report }}/{{ pg_query.previous_page_number }}">< Anterior</a>          
        </li>
      {% endif %}
      <li>
        <a href="{{ url_pg_report }}/{{ pg_query.number }}/">
            Pàgina {{ pg_query.number }} de {{ pg_query.paginator.num_pages }}
        </a>
      </li>
      {% if pg_query.has_next %}
        <li>
          <a href="{{ url_pg_report }}/{{ pg_query.next_page_number }}/"> Següent ></a>
        </li>
      {% endif %}
      {% if pg_query.has_next %}
        <li>
          <a href="{{ url_pg_report }}/{{ pg_query.paginator.num_pages }}/"> Fi >></a>
        </li>	
      {% endif %}
    {% endif %}
	
		
	{% block postreport  %}{% endblock %}
{% endblock %}



