{% extends "base.html" %}

{% block content  %}
    <h1>Missatges:</h1>
    <div  class="elmur">
	{% for msg in msgs.object_list  %}
		<div class="row {{msg.llegitAraMateix}}">
		  <div class="col-lg-12 alert alert-{{msg.inportanciaCSS}}" >
			<span > ({{msg.missatge.data}})
				<b>
				{% if msg.missatge.remitent.last_name %}
					{{msg.missatge.remitent.first_name}} {{msg.missatge.remitent.last_name}} 
				{% else %}
					{{msg.missatge.remitent.username}}
				{% endif %}
				{% if msg.missatge.remitent.email %}
					({{msg.missatge.remitent.email}})
				{% endif %}
			</b>,</span>
			<span>{{msg.missatge.text_missatge}}</span>
			{% if msg.missatge.enllac %}
			    <a class="enllacmsg-{{msg.followed}}" href="/missatgeria/llegeix/{{msg.pk}}">
			      {% if msg.followed %}
			    	-->
			      {% else %}
			        -- (no seguit) -->
			      {% endif %}
			    </a>{% endif %}
			{% if msg.missatge.errors %}
			   <div class="alert alert-danger">
			    <ul>
			    {% for txt in msg.missatge.errors %}
			        <li><strong>{{ txt|escape }}</strong></li>
			    {% endfor %}
			    </ul>
			   </div>
			{% endif %}

			{% if msg.missatge.warnings %}
			   <div class="alert alert-warning">
			    <ul>
			    {% for txt in msg.missatge.warnings %}
			        <li><strong>{{ txt|escape }}</strong></li>
			    {% endfor %}
			    </ul>
			   </div>
			{% endif %}

			{% if msg.missatge.infos %}
			   <div class="alert alert-info">
			    <ul>
			    {% for txt in msg.missatge.infos %}
			        <li><strong>{{ txt|escape }}</strong></li>
			    {% endfor %}
			    </ul>
			   </div>
			{% endif %}
			
		  </div>
	    </div>
	{% endfor %}
	</div>


	<div style="clear: both;"> </div>
	<div >
		<ul class="pagination">		
        {% if msgs.has_previous %}
        <li>
            <a href="/missatgeria/elMeuMur"><< Primers</a>          
		</li>
        {% endif %}
        {% if msgs.has_previous %}
        <li>
            <a href="/missatgeria/elMeuMur/{{ msgs.previous_page_number }}">< Més Antic</a>          
		</li>
        {% endif %}
		<li>
            <a href="/missatgeria/elMeuMur/{{ msgs.number }}/">
            	Pàgina {{ msgs.number }} de {{ msgs.paginator.num_pages }}.
            </a>
		</li>
        {% if msgs.has_next %}
		<li>
            <a href="/missatgeria/elMeuMur/{{ msgs.next_page_number }}/"> Més Nou ></a>
        </li>
        {% endif %}
        {% if msgs.has_next %}
		<li>
            <a href="/missatgeria/elMeuMur/{{ msgs.paginator.num_pages }}/"> Darrers >></a>
        </li>
        {% endif %}
        </ul>
    </div>


{% endblock %}