{% extends "base.html" %}

{% block content %}

	
	<div style="border: 1px solid;border-color:black; margin:10px 5px 10px 5px;padding:10px 5px 10px 5px">	
	{% if expulsionsPendentsTramitar %}
		<table class="box-table-a" style="width:90%">
		<tr><th colspan="3">Expulsions pendents de tramitar</th></tr>		 
		{% for expulsio in expulsionsPendentsTramitar %}
		<tr>
			<td>
				<a style='color:red' href=/incidencies/editaExpulsio/{{ expulsio.pk }}/>
						{{ expulsio.alumne }} - {{ expulsio.dia_expulsio }} {{ expulsio.franja_expulsio }} </a>
			</td>
			<td>
						  
						{% if expulsio.es_expulsio_d_aula %}
						   ( {{expulsio.control_assistencia.impartir.horari.assignatura}}  )
						{% endif %}
			</td>
			<td>		
						{{ expulsio.motiu }}
			</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<h2><span >No tens expulsions pendents de tramitar</span></h2>
	{% endif %}
	</div>


	<div style="border: 1px solid;border-color:black; margin:10px 5px 10px 5px;padding:10px 5px 10px 5px">	
	{% if expulsionsPendentsPerAcumulacio %}
		<table class="box-table-a" style="width:90%">
		<tr><th colspan="3">Tramitar expulsió per acumulació d'incidències a:</th></tr>		 
		{% for incidencia in expulsionsPendentsPerAcumulacio %}
		<tr>
			<td>
				 <a style='color:red' href="#alumne-{{incidencia.alumne.pk}}"> 
				  {{ incidencia.alumne }}
				</a>
			</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<h2><span >No tens incidències que causin expulsió</span></h2>
	{% endif %}
	</div>
	
	<div style="border: 1px solid;border-color:black; margin:10px 5px 10px 5px;padding:10px 5px 10px 5px">
	{% if alumnes %}
	<table class="box-table-a" style="width:90%">
	<tr>
	  <th colspan="5">Les meves incidències i expulsions</th>
	</tr>	
	{% for alumne, incidencies in alumnes %}
		<tr   >
		  <th colspan="2">
		     <span id="alumne-{{alumne.pk}}"></span>
		     {{alumne}}</th>
		  <th colspan="3">
			{% if incidencies.calTramitarExpulsioPerAcumulacio %}
			<span >
				<a style='color:red' href=/incidencies/posaExpulsioPerAcumulacio/{{ incidencies.exempleIncidenciaPerAcumulacio.pk }}>
				 Tramitar expulsió per acumulació d'incidències.
				</a>
			</span>
			{% endif %}			
		  </th>
		 </tr>
		 
		{% if incidencies.expulsions %}
			{% for expulsio in incidencies.expulsions %}
				<tr>
				  <td></td>
				  <td>Expulsio{%if expulsio.es_expulsio_per_acumulacio_incidencies %} per acumulació d'incidències{%endif%}:</td>
				  <td> 					
					<a href="/incidencies/editaExpulsio/{{ expulsio.pk }}/">
						{{ expulsio.dia_expulsio }} - {{ expulsio.franja_expulsio }} ({{ expulsio.get_estat_display }}) 
					</a>
				  </td>
				  <td>							
					{% if expulsio.es_expulsio_d_aula %}
					   {{expulsio.control_assistencia.impartir.horari.assignatura}}
					{% endif %}
				  </td>
				  <td>
					{% if expulsio.mini_motiu %}
						{{ expulsio.mini_motiu }}
					{% endif %}
				  </td>
				</tr>	
			{% endfor %}
		{% endif %}
			
		{% if incidencies.incidencies %}
			{% for incidencia in incidencies.incidencies %}
				<tr>
				  <td></td>
<!-- #tipusIncidencia -->
				  <td>Incidència - {{ incidencia.tipus }}</td>
				  <td>
					{{ incidencia.dia_incidencia }} - 
					{{ incidencia.franja_incidencia }}:
				  </td>
				  <td>
					{% if incidencia.es_incidencia_d_aula %}
					   <a href="/incidencies/posaIncidenciaAula/{{incidencia.control_assistencia.impartir.pk}}">
					   {{incidencia.control_assistencia.impartir.horari.assignatura}}
					   </a>
					{% else %}
					   <a style="color:red" href="/incidencies/eliminaIncidencia/{{incidencia.pk}}">[ X ]</a>
					{% endif %}
				  </td>
				  <td> 
					{{ incidencia.descripcio_incidencia }}
				  </td>
			{% endfor %}
		{% endif %}
	{% endfor %}
	</table>
	{% else %}
	<h2>No tens Incidències</h2>
	{% endif %}
	</div>

{% endblock %}