{% extends "form.html" %}

{% block extrahead %}

<style>
	
.tria_tag ul
{
    list-style-type: none;
    margin-bottom: 0px;
    -webkit-padding-start: 0px;
}

.tria_tag li
{

    margin-left: 0px;
}

</style>

	<script src="{{STATIC_URL}}bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <link href="{{STATIC_URL}}bootstrap-multiselect/js/bootstrap-multiselect.css" type="text/css" media="screen" rel="stylesheet" />
	
{% endblock %}

{% block preform  %}

	<a href="/presencia/passaLlista/{{id_impartir}}">Tornar a passar llista</a>
	<br><br>
	
	<div class="row">
	  	<div class="col-md-6">
		  	<div class="panel panel-primary">
		  		<div class="panel-heading">Incidències d'aquesta hora</div>
		  		<div class="panel-body">
<!-- #tipusIncidencia -->
					{% for agrupacio, incidencies in incidenciesAgrupades.items %}
						<p><strong>{{agrupacio.0}}</strong> - {{agrupacio.1}}</p>
						{% for incidencia in incidencies %}
							<p>
								<a href="/incidencies/eliminaIncidenciaAula/{{ incidencia.pk }}" style="color:red"><span class="glyphicon glyphicon-remove"></span></a>
								<span style="color:{% if incidencia.tipus.es_informativa %}blue{%else%}red{%endif%}">
									{{ incidencia.alumne.get_nom_sentit }}
								</span>
							</p>					
						{% endfor %}				
					{% endfor %}
		  		</div>
			</div>
	  	</div>
	  	<div class="col-md-6">
		  	<div class="panel panel-primary">
		  		<div class="panel-heading">Expulsions d'aquesta hora</div>
		  		<div class="panel-body">
		    		{% for expulsio in expulsions %}
						<p>
							<a href="/incidencies/editaExpulsio/{{ expulsio.pk }}" style="color:red">
								<span class="glyphicon glyphicon-arrow-right"></span> {{expulsio.alumne.get_nom_sentit}}
							</a>
						</p>
					{% endfor %}
					</ul>
					<div class="alert alert-warning"><small>Si no apareix aquí l'expulsió que busques comprova dins <em>Aula > Incidències > Incidències</em>. 
					Recorda que les expulsions les entra el professor de guardia. Si no han entrat la teva expulsió pots entrar-la tu 
					des de <em>Aula > Incidències > Recull Expulsió</em>.</small></div>	
		  		</div>
			</div>
	  	</div>
	</div>




  	<div class="panel panel-primary">
  		<div class="panel-heading">Afegir noves incidències</div>
  		<div class="panel-body">
{% endblock %}

{% block postform  %}
  		</div>
	</div>

	<script type="text/javascript">
	
		$(document).ready(function(){
		  getFrase();
		});

		function getFrase() {
			var tipus = $('input[name=tipus]:checked').val()
			var $frases = $("#id_frases");
			$frases.empty();
			{% for f in form.totesLesFrases %}
				if (tipus=={{ f.tipus.id }}) {
					$frases.append($("<option></option>").attr("value", "{{f.id}}").text("{{f}}"));
				}
			{% endfor %}
		}
	</script>

	<script type="text/javascript">
	
	$(document).ready(function() {

		$("#id_alumnes").multiselect({
            enableClickableOptGroups: true
        });

	});
    		 
	</script>
	
	
	
	<script>
    /*
	$(document).ready(function(){
        var left = 250;
        var s ="<span id='text_counter'></span>";
        $('#id_frase').append( s );
        
        $('#text_counter').text('Characters left: ' + left);
 
        $('#id_frase').keyup(function () {
 
            left = 250 - $(this).val().length;
 
            if(left < 0){
                $('#text_counter').addClass("overlimit");
                 $('button:submit').attr("disabled", true);
            }else{
                $('#text_counter').removeClass("overlimit");
                $('button:submit').attr("disabled", false);
            }
 
            $('#text_counter').text('Characters left: ' + left);
        });
    });		
    */
		
		
	</script>
	
{% endblock %}

--------------

