{% extends "form.html" %}

{% block preform  %}

	<a class="btn btn-info btn-xs" href="/presencia/passaLlista/{{id_impartir}}" role="button">Tornar a passar llista</a>
	<br><br>
	
	<div class="row">
	  	<div class="col-md-6">
		  	<div class="panel panel-info">
		  		<div class="panel-heading">Incidències d'aquesta hora</div>
		  		<div class="panel-body">
					{% for frase, incidencies in incidenciesXfrase.items %}
						<span>{{frase}}</span>
						{% for incidencia in incidencies %}
							<p>
							<a href="/incidencies/eliminaIncidenciaAula/{{ incidencia.pk }}" style="color:red"><span class="glyphicon glyphicon-remove"></span></a>
<!-- #tipusIncidencia -->
							<span style="color:{% if incidencia.tipus.es_informativa %}blue{%else%}red{%endif%}">
								{{incidencia.tipus}} - {{ incidencia.alumne }}
							</span>
							</p>					
						{% endfor %}				
					{% endfor %}
		  		</div>
			</div>
	  	</div>
	  	<div class="col-md-6">
		  	<div class="panel panel-info">
		  		<div class="panel-heading">Expulsions d'aquesta hora</div>
		  		<div class="panel-body">
		  		
		  		<a href="/incidencies/editaExpulsio/1111" style="color:red">
							<span class="glyphicon glyphicon-arrow-right"> expulsió de mostra
						</a>
		  		
		  		
		  		
		    		{% for expulsio in expulsions %}
						<a href="/incidencies/editaExpulsio/{{ expulsio.pk }}" style="color:red">
							<span class="glyphicon glyphicon-arrow-right"> {{expulsio.alumne}}
						</a>
					{% endfor %}
					</ul>
					<p><small>Si no apareix aquí l'expulsió que busques comprova dins "Relació d'incidències i expulsions" al menú professor. 
					Recorda que les expulsions les entra el professor de guardia. Si no han entrat la teva expulsió pots entrar-la tu 
					des del menú Professor - Expulsions: Inicia tràmit d'expulsió.</small></p>	
		  		</div>
			</div>
	  	</div>
	</div>




  	<div class="panel panel-info">
  		<div class="panel-heading">Afegir noves incidències</div>
  		<div class="panel-body">
{% endblock %}

{% block postform  %}
  		</div>
	</div>
{% endblock %}

