{% load customTemplateTags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" >
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<title>-djAu- Programari control de presència i incidències per a Instituts, Escoles i Acadèmies.</title>
<meta name="description" content = "-djAu- Permet passar llista amb pocs clics així com la gestió completa de les incidències. 
                                    Les principals característiques són: estalviar temps, millorar la gestió i el rendiment dels alumnes." >
<meta name="google-site-verification" content="z4fDCMr0_vg8aGobrZoWtw6m2vKkdWSfygBL2nqX4fw" />                          
<script src="{{STATIC_URL}}jquery/jquery-3.4.1.min.js"></script>
<script> 
$.fn.bootstrapDP = null;                 
</script>

<script type="text/javascript">
  function confirmAction(url, msg) {
    if (confirm(msg)) {
      document.location = url;
    }
  }
</script>

{% block extrahead %} {% endblock %}

<style type="text/css">
  container { background-color: white; }
</style>

<style type="text/css">
  container { background-color: white; }
  .select2-container {width: 100% !important;}
</style>
<!--
Es fa servir còpia de:
https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css
-->
<link href="/site-css/select2/select2.min.css" type="text/css" media="screen" rel="stylesheet">
<link href="/site-css/django_select2/django_select2.css" type="text/css" media="screen" rel="stylesheet">
</head>

<body {%if l4%}style="background-color:#FF0000;"{%endif%}>

  <div class="container"> 

	{% if messages %}
	<ul class="messages">
	{% for message in messages %}
	    <div class="alert alert-{{ message.tags|valid_alert }}">{{ message }}</div>
	{% endfor %}
	</ul>
	{% endif %}  
	  
	{% include "menu.html" %}


    {% block content %}


    {% endblock %}

  {% if user.is_authenticated %}  
  <div class="row">
  	<a class="btn btn-warning btn-large" style="margin-top:10px; width: 100%;" data-toggle="modal" href="/logout">Aquesta és la web demo de -djAu-</a>
      My timeoff[{{ my_timeoff }}]
  </div>
  {% endif %}
  
  </div> <!--container-->

<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<!--
Es fan servir còpies d'aquests arxius:
https://github.com/Eonasdan/tempus-dominus/blob/v4/build/css/bootstrap-datetimepicker.css
https://github.com/moment/moment/blob/develop/min/moment-with-locales.min.js
Versió modificada de https://github.com/Eonasdan/tempus-dominus/blob/v4/src/js/bootstrap-datetimepicker.js
-->
<link href="{{STATIC_URL}}datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}datetimepicker/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
  $('button[data-toggle=popover]').popover();
</script>

{% block afterscripts %} {% endblock %}


		<div style="visibility:hidden;">
		<div itemscope itemtype="http://data-vocabulary.org/Product">
		  <span itemprop="brand">ctrl.alt.d</span> 
		  <span itemprop="name">-djAu-</span>
		
		  <span itemprop="description">Programari de gestió de presència, incidències i més per a Instituts, Escoles i Acadèmies.</span>
		  Category: <span itemprop="category" content="Software" > Attendance </span>
		  <span itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
		    <span itemprop="rating">5</span> stars, based on <span itemprop="count">1</span> reviews
		  </span>
		
		  <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
		    <meta itemprop="currency" content="USD" />
		    <span itemprop="price">Free</span>
		    <span itemprop="availability" content="in_stock"> </span>
		  </span>
		</div>
		</div>

<!--
Es fan servir còpies de:
https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js
https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/i18n/ca.js
-->
<script src="/site-css/select2/select2.min.js"></script>
<script src="/site-css/select2/ca.js"></script>
<script src="/site-css/django_select2/django_select2.js"></script>
</body>
</html>

