{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
  body {
    padding-top: 110px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
</style>


{% endblock %}

{% block head %}
  {{ head }}
{% endblock %}

 
{% block content  %}
	{% block preform %}{% endblock %}

    <div class="row">
    	
    <div class="col-lg-6">
    	
    	<div class="jumbotron text-center">
		  <h1>-djAu-</h1>
		  <h2>django-aula</h2>
		  <p>Gestió de presència, incidències i més!</p>
		  
		  <div class="btn-group">
			  <button type="button" class="btn btn-success btn-large" id="coneix">Què és -djAu- </button>
			  <button type="button" class="btn btn-success btn-large dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="{{STATIC_URL}}demo/#estalvitemps">Com estalviar temps</a></li>
			    <li><a href="{{STATIC_URL}}demo/#millorgestio">Com millorar la gestió</a></li>
			    <li><a href="{{STATIC_URL}}demo/#millorrendiment">Com millorar el rendiment acadèmic</a></li>
			    <li class="divider"></li>
			    <li><a href="https://github.com/ctrl-alt-d/django-aula">Posar en marxa -djAu-</a></li>
			  </ul>
		  </div>
		  
		</div>

    	
    </div>
	  
    <div class="col-lg-6">
	    <form class="form-signin" action="." method="post" target="{%if target %}{{target}}{%else%}_self{%endif%}">{% csrf_token %}
	      <h2 class="form-signin-heading">Identificació</h2>
	      <input type="text" name="usuari" class="form-control" value="M1" placeholder="Nom d'usuari" autofocus>
	      {% if form.usuari.errors %}
		        <div class="alert alert-danger">
		        <button type="button" class="close" data-dismiss="alert">&times;</button>
			        <ul>
			          {% for error in form.usuari.errors%}
			          <li>{{ error }}</li>
		              {% endfor %}
		            </ul>
	         	</div>
	      {% endif %}
		  <input type="password" name="paraulaDePas" class="form-control" value="djAu" placeholder="Paraula de pas">
	      {% if form.paraulaDePas.errors %}
		        <div class="alert alert-danger">
		        <button type="button" class="close" data-dismiss="alert">&times;</button>
			        <ul>
			          {% for error in form.paraulaDePas.errors%}
			          <li>{{ error }}</li>
		              {% endfor %}
		            </ul>
	         	</div>
	      {% endif %}
	
		  {% if form.non_field_errors %}
			  <div class="alert alert-danger">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      {% for error in form.non_field_errors %}
		        <p>{{error}}</p>
		      {% endfor %}
		    </div>
		  {% endif %}      
	
	      <button class="btn btn-large btn-primary btn-block" type="submit">Inicia la sessió</button>      
	      <a class="btn btn-primary btn-large" style="margin-top:10px; width: 100%;" data-toggle="modal" href="#myModal">- Demo -</a>
	      
	      
	      
	    </form>

	</div>
	</div>


<!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">-Demo-</h4>
        </div>
        <div class="modal-body">
<pre>	      
Usuaris dels Professors: M5 ,M7 ,T0 , T2
Usuaris dels Tutors: M0 ,M1 ,M2 ,M3 ,M4 ,M6 ,T1 ,T3 ,T4 ,T5
Usuaris de la Direcció: M1 ,T1 ,T4
Tots els passwords de professors: 'djAu'
La base de dades de demo es refà a cada hora.
Totes les dades de la base de dades de demo han estat generades de manera aleatòria
</pre>          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


	<script>
		$("#coneix").click(function(){
			window.location.href = "{{STATIC_URL}}demo";
		});	
	</script>
{% endblock %}
