{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function($){	
	$('#menu').dcMegaMenu({
		rowItems: '3',
		speed: 'fast',
		effect: 'fade'
	});
});
</script>
{% endblock %}


{% block title %}django-aula{% endblock %}

{% block branding %}<h1 id="site-name">django-aula Mode Administració</h1>{% endblock %}

{% block nav-global %}<a href="/">django-aula mode Administració</a>{% endblock %}


{% block pretitle %}<div id="nav">
	{% include "menu.html" %}
</div>{% endblock %}

{% block footer %}
{% endblock %}
