{% extends 'base.html' %}

{% block content %}
<h3>Creació d'un compte de G Suite</h3>
<form method="post">{% csrf_token %}
	Estimada família i alumne,<br>

&nbsp&nbsp&nbsp&nbspA l'Institut Thos i Codina utilitzem G Suite per Centres Educatius.<br>
G Suite per Centres Educatius és un conjunt d’eines de productivitat<br>
educativa de Google (Gmail, Calendar, Documents, Classroom, etc.) que<br>
utilitzaran els alumnes per completar les tasques, comunicar-se amb<br>
els seus professors i aprendre les destreses digitals del segle XXI.<br>
Crearem un compte dins del nostre domini iesthosicodina.cat<br><br>
Indica un correu per rebre l'usuari i contrasenya i accepta les condicions d'ús.<br><br>
    Correu per notificacions: {{ form.alumne_correu }}<br>
		        {% if form.alumne_correu.errors %}		        	
			        <div class="alert alert-danger">
			        <button type="button" class="close" data-dismiss="alert">&times;</button>
				        <ul>
				          {% for error in form.alumne_correu.errors%}
				          <li>{{ error }}</li>
			              {% endfor %}
			            </ul>
		         	</div>
		        {% endif %}
    {{ form.acceptar_condicions }}<b>Declaro</b> que accepto la creació del compte i que he llegit les <a target = _blank href="/site-css/Condicions GSuite.pdf">condicions de G Suite</a>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Envia" />
</form>
{% endblock %}



