{% extends "base.html" %}

{% block extrahead  %}

<style type="text/css">
.vertical{
    writing-mode:rl-tb;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0px;
    width:15px;
    height:15px;
}
.td-vertical{
    height: 40px;
}
</style>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.flip.min.js"></script>
<script type="text/javascript">
// Create the tooltips only on document load
$(document).ready(function() 
{

   {% for ca in dades.c %}

   $('#ca{{ca.pk}}').tooltip(
   {
          title: '{{ca.descripcio|escapejs}}'
   });
   
   $('#ca{{ca.pk}},sca{{ca.pk}}').hover(function() {
	 $(this).css('cursor','pointer');
	 }, function() {
	 $(this).css('cursor','auto');
   });   
   
   var last_{{ca.pk}} = "F";
   $('#ca{{ca.pk}},sca{{ca.pk}}').click( function() {
     //alert('CA: {{ca.estat|escapejs}}, Prof.: {{ca.professor|escapejs}}');
	 var url = (last_{{ca.pk}}!="F") ? "/tutoria/faltaNext/{{ca.pk}}" : "/tutoria/justificaNext/{{ca.pk}}";
     var args = { 
        type:"GET", 
        url:url, 
        success:function(data) {
        	if ( data.ok ) {
        	   if (data.codi == 'J' )
        	      newcontent = '<span id="sca{{ca.pk}}" class="label label-info">'+data.codi+'</span>';
        	   else if (data.codi == 'F') 
        	      newcontent = '<span id="sca{{ca.pk}}" class="label label-danger">'+data.codi+'</span>';
        	   else if (data.codi == 'R')
        	      newcontent = '<span id="sca{{ca.pk}}" class="label label-warning">'+data.codi+'</span>';
        	   else if (data.codi == ' ')
        	      newcontent = '<span id="sca{{ca.pk}}" class="label label-default">_</span>';
        	   else
        	      newcontent = '<span id="sca{{ca.pk}}" class="label label-default">'+data.codi+'</span>';
			   if ( data.codi == "F" ) last_{{ca.pk}}="F";
			   if ( data.codi == "J" ) last_{{ca.pk}}="J";
        	   $('#ca{{ca.pk}}').flip({
					direction: 'tb',
					content: newcontent,
					color: "#FFFFFF"
			   });
			   $('#ca{{ca.pk}}').attr('title', data.missatge).tooltip('fixTitle').tooltip('show');
			   
    		} else {
				$.each( data.errors,  function(index, value) { 
					$('#comentaris').prepend(
					    $('<li>').append(
					       value   
					    ).slideDown('slow')
					);
				});
				$('#ca{{ca.pk}}').attr('title', data.errors).tooltip('fixTitle').tooltip('show');        		   
    		}
  		},
        error:function (xhr, ajaxOptions, thrownError){
        	$('#comentaris').prepend(
			    $('<li>').append(
			       thrownError   
			    ).slideDown('slow')
			);
        }   
     };	
     $.ajax(args);
 
   });

   



   {% endfor %}   
   


});
</script>	

{% endblock %}

{% block content  %}
<div style="max-width:820px;">
<table id="scroller" class="table table-striped table-bordered table-condensed" >
 <tr>
  <td ><strong>{{dades.grup}}</strong>
  </td>
  {% for dia, hores in dades.dia_hores.itemsEnOrdre %}
  <td style="text-align:center;border-left-width: 2px; border-left-color: #999999;"  colspan="{{ hores.compte }}" >
  		<strong>{{ dia }}</strong>
  </td>
  {% endfor %}
  <td style="border-left-width: 2px; border-left-color: #999999;"><strong>{{dades.grup}}</strong>
  </td>
 </tr>
 
 <tr>
  <td><em>Alumnes</em>
  </td>
  {% for dia, hores in dades.dia_hores.itemsEnOrdre %}
  	{% for hora in hores %}
  		<td class="td-vertical" style="font-size:80%; text-align:center;
  			{% if hora == hores.0 %}border-left-width: 2px; border-left-color: #999999;{% endif %}
  		">
  			<div class="vertical"><em>{{hora.text_hora_inici}}</em></div>
  		</td>
  	{% endfor %}

  {% endfor %}
  <td style="border-left-width: 2px; border-left-color: #999999;"><em>Alumnes</em>
  </td>
 </tr>
 
  {% for alumne,filera in dades.quadre.itemsEnOrdre %}
  <tr>
  <td>
  	<div style="width:150px; overflow:hidden">{{alumne}}</div>
  </td>
  {% for cella in filera %}
  <td style="text-align:center; vertical-align:middle; padding: 0px 0px 0px 0px;
      {% if cella.primera_hora %} border-left-width: 2px; border-left-color: #999999;{% endif %}"
  > 
  		{% for ca in cella.c %}
  		<div id="ca{{ca.pk}}" style="margin: 0px 0px 0px 0px;">
  		   <span id="sca{{ca.pk}}" class="label
  		   	  {% if ca.estat.codi_estat == "J" %}label-info
  		   	  {%elif ca.estat.codi_estat == "F" %}label-danger
  		   	  {%elif ca.estat.codi_estat == "R" %}label-warning
  		   	  {%else%}label-default
  		   	  {%endif%}">
  		      {% if ca.estat.codi_estat %}{{ ca.estat.codi_estat }}{% else %}_{%endif%}
  		</span></div>
  		{% endfor %}
  </td>
  {% endfor %}
  <td style="border-left-width: 2px; border-left-color: #999999;">
  	<div style="width:150px; overflow:hidden">{{alumne}}</div>
  </td>
 </tr>
 {% endfor %}

 <tr>
  <td><em>Alumnes</em>
  </td>
  {% for dia, hores in dades.dia_hores.itemsEnOrdre %}
  	{% for hora in hores %}
  		<td class="td-vertical" style="font-size:80%; text-align:center;
  			{% if hora == hores.0 %}border-left-width: 2px; border-left-color: #999999;{% endif %}
  		">
  			<div class="vertical"><em>{{hora.text_hora_inici}}</em></div>
  		</td>
  	{% endfor %}

  {% endfor %}
  <td style="border-left-width: 2px; border-left-color: #999999;"><em>Alumnes</em>
  </td>
 </tr>

 <tr >
  <td ><strong>{{dades.grup}}</strong>
  </td>
  {% for dia, hores in dades.dia_hores.itemsEnOrdre %}
  <td style="text-align:center;border-left-width: 2px; border-left-color: #999999;"  colspan="{{ hores.compte }}" >
  		<strong>{{ dia }}</strong>
  </td>
  {% endfor %}
  <td style="border-left-width: 2px; border-left-color: #999999;"><strong>{{dades.grup}}</strong>
  </td>
 </tr>

 </table>

<div style="clear: both;"> </div>

<p>
<em>Llegenda</em> &nbsp;&nbsp;
<span class="label label-info">J</span> Justificada &nbsp;&nbsp;
<span class="label label-danger">F</span> Falta &nbsp;&nbsp;
<span class="label label-warning">R</span> Retard &nbsp;&nbsp;
<span class="label label-default">P</span> Present &nbsp;&nbsp;
<span class="label label-default">_</span> No s'ha passat llista
</p>

<div >
	<ul class="pagination">
	{% for  professor, moment, altre_data in altres_moments %}
	<li>
		<a href="/tutoria/justificador/{{altre_data.year}}/{{altre_data.month}}/{{altre_data.day}}/">{{moment}}</a>
	</li>
	{% endfor %}
	</ul>	
</div>
 
<div>
  <ul id="comentaris">
  </ul>
</div>
 </div>
 
 <script>
 </script>
{% endblock %}


