{% extends "form.html" %}

{% block extrahead %} 
	<script src="{{STATIC_URL}}bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <link href="{{STATIC_URL}}bootstrap-multiselect/js/bootstrap-multiselect.css" type="text/css" media="screen" rel="stylesheet" />
	
{% endblock %}

	{% block postform  %}
	
	<script type="text/javascript">
	
	$(document).ready(function() {

		$("#id_alumnes_convocats").multiselect({
            enableClickableOptGroups: true
        });

	});

	$(document).ready(function() {
			if ({{deshabilitat}}) {
				$(':submit').hide();
			}
	});    		 
	</script>
	
	{% endblock %}

